@import "./utilities.scss";
@import "./Page/Login";
@import "./Page//MiniUser";
@import "./Page/TaskContent";

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.custom__ModalEditDetail {
  width: 980px !important;
}
.labelEditTaskInFo {
  label {
    font-size: 24px !important;
    font-weight: bold !important;
  }
}
